body {
  font-family: sans-serif;
  margin: 0;
  background-color: #222222;
  color: white;
}

* {
  box-sizing: border-box;
}

.black-to-play .shudan-vertex.shudan-sign_0:hover {
  background-image: url("./shudan/stone_1_faint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.black-to-play .shudan-marker {
  color: #eddacc;
  background-image: url("./shudan/stone_1_very_faint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.black-to-play .shudan-marker::before {
  background: none;
}

.white-to-play .shudan-vertex.shudan-sign_0:hover {
  background-image: url("./shudan/stone_-1_faint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.white-to-play .shudan-marker {
  /* color: white; */
  background-image: url("./shudan/stone_-1_very_faint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.white-to-play .shudan-marker::before {
  background: none;
}

.moves-table {
  border-spacing: 0.5em;
}

.winning-player {
  color: rgb(57, 165, 140);
}

.losing-player {
  color: rgb(208, 97, 132);
}
